{% extends 'base.html' %}
{% block pageTitle %}Login{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Login</h1>
    <p class="lead">Login to your account.</p>
    <form method="post" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <label for="username">Username:</label>
        <input type="text" name="username" minlength="5" maxlength="100" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" minlength="5" maxlength="100" required>
        
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}