{% extends 'base.html' %}
{% block pageTitle %}Register{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Register</h1>
    <p class="lead">Register for an account.</p>
    <form method="post" action="{{ url_for('register') }}">
        {{ form.csrf_token }}
        <label for="username">Username:</label>
        <input type="text" name="username" minlength="5" maxlength="100" required>
        
        <label for="email">Email:</label>
        <input type="email" name="email" maxlength="100" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" minlength="5" maxlength="100" required>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" minlength="5" maxlength="100" required>
        
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}